<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Palindrome Checker</title>
    <body>
      <h1>Enter a word, and we'll tell you if it's a palidrome!</h1>
      <form action="/answer" method="post">
        <label for="word">Your word:</label>
        <input id="word" name="word type="text">
        <button type ="submit">check</button>
      </form>
    </body>
  </head>
</html>
